In [10]:
import pandas as pd
from datetime import datetime

In [27]:
csv_file = open(r'C:\Users\umama\shravya python assignment\Analysis\BaseballFieldSupportBldg_results.csv')
cols = ['Actual','Predicted','obs_ci_lower','obs_ci_upper','Datetime']

dff = pd.read_csv(csv_file, index_col='Datetime' ,encoding = "ISO-8859-1",engine = 'python', sep=',', header=0,names=cols,error_bad_lines=False)

In [6]:
type(dff.index[1])

str

In [36]:
format = '%Y-%m-%d %H:%M:%S'
dff.index= pd.to_datetime(dff.index,utc=True,format=format)

In [13]:
type(dff.index[1])

datetime.datetime

In [37]:
dff.groupby(pd.Grouper(freq='W'))['Actual','Predicted'].mean()

                             Actual  Predicted
Datetime
2015-06-07 00:00:00+00:00  1.018293   0.988623
2015-06-14 00:00:00+00:00  1.517857   1.341153
2015-06-21 00:00:00+00:00  2.073620   1.510015
2015-06-28 00:00:00+00:00  1.746914   1.409686
2015-07-05 00:00:00+00:00  1.530120   1.640105
...                             ...        ...
2020-10-18 00:00:00+00:00  0.678788   4.052555
2020-10-25 00:00:00+00:00  0.727273   4.022411
2020-11-01 00:00:00+00:00  0.656627   4.025558
2020-11-08 00:00:00+00:00  0.724551   4.316859
2020-11-15 00:00:00+00:00  0.811881   3.994318

[285 rows x 2 columns]